{% extends "main.html" %}

{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container pt-5 text-center">
    <h1>404</h1>
    <p class="important">
        Page Not Found
    </p>
</div>
{% endblock %}
