{% extends "main.html" %}

{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container pt-5 text-center">
    <h1>500</h1>
    <p class="important">
        {{error}}
    </p>
</div>
{% endblock %}
