<div class="modal" tabindex="-1" id="edit_modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="edit_form">
                <input type="hidden" name="id_task" id="id_task">

                <div class="modal-header">
                    <h5 class="modal-title">Задача</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="modal-response"></div>
                    <div class="mb-3">
                        <label for="editedtext" class="form-label">Задача</label>
                        <textarea class="form-control" id="editedtext" rows="3" name="editedtext"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                    <button type="submit" class="btn btn-primary">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>