{% extends "main.html" %}

{% block head %}
{{ parent() }}
{% endblock %}
{% block content %}
<div class="container pt-5">
   <div class="row pb-5">
       <div class="col-6 text-start">
           <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addtask">Добавить задачу</button>
       </div>
       <div class="col-6 text-end">
           {% if isAdmin == false %}
           <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#login_modal">Войти</button>
           {% else %}
            <span>Админ</span> <a class="btn btn-primary" href="{{logout.link}}">Выйти</a>
           {% endif %}
       </div>
   </div>
    <div class="row">
        <div class="col-12">
            {% if tasks|length > 0 %}
            <table class="table table-striped" id="table_tasks">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Текст задачи</th>
                        <th scope="col">Статус</th>
                        {% if isAdmin == true %}
                        <th scope="col">Действие</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{task.id}}</th>
                    <td>{{task.name}}</td>
                    <td>{{task.email}}</td>
                    <td class="text">{{task.text}}</td>
                    <td>
                        {{task.statusText}}
                        {% if task.modified == 1 %}
                        <br>Отредактировано администратором
                        {% endif %}
                    </td>
                    {% if isAdmin == true %}
                    <th scope="col">
                        <a href="{{task.approve}}" title="Подтвердить"><i class="fa fa-check green" aria-hidden="true"></i></a>
                        <a href="{{task.edit}}" class="edit-task" title="Отредактировать" data-id="{{task.id}}"><i class="fa fa-pencil orange" aria-hidden="true"></i></a>
                    </th>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {%else%}
            <div class="alert alert-primary" role="alert">
               Не создано ни одной задачи
            </div>
            {% endif %}
            {% if pagination|length > 0 %}

            <nav>
                <ul class="pagination">
                    {% for page in pagination %}
                    <li class="page-item {% if page.current == true %} active {%endif%}">
                        {% if page.current == false %}   <a class="page-link" href="{{page.link}}">{{page.value}}</a> {%else%}
                        <span class="page-link">{{page.value}}</span>
                      {%endif%}
                    </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

